[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-session = "==0.5.0"
identity = "==0.3.0"
pytz = "==2023.3"
azure-communication-email = "==1.0.0"
azure-cosmos = "==4.5.1"
msrest = "==0.7.1"
humanize = "==4.8.0"
jira = "==3.5.2"
azure-graphrbac = "==0.61.1"
azure-devops = "==7.1.0b3"
gitpython = "==3.1.32"

[dev-packages]

[requires]
python_version = "3.12"
